:root {
  --bg-primary-one: #cda274;
  --bg-primary-two: #292f36;
  --bg-primary-three: #f4f0ec;
  --dark-text: #1f1f1f;
  --light-gray: #f6f6f6;
  --dark-gray: #4d5053;
}

.site-container {
  @apply w-full max-w-[90%] lg:max-w-[70%] mx-auto;
}

/* HOME */
.home {
  @apply w-full;

  &--landing {
    @apply w-full flex flex-wrap flex-col-reverse lg:flex-row items-center justify-center lg:-mx-4;

    &__container {
      @apply w-full lg:w-1/2 lg:px-4;

      &--title {
        @apply font-bold text-5xl lg:text-80 2xl:text-85 text-center lg:text-start;
      }
      &--subtitle {
        @apply font-normal text-base md:text-lg lg:text-xl text-justify lg:text-start mt-4;
      }
      &--button {
        @apply w-full flex flex-wrap justify-center lg:justify-start items-center gap-x-4 mt-10;
      }

      &--img {
        @apply w-[90%] object-cover mx-auto lg:ml-auto;
      }
    }

    &__left {
      @apply 2xl:pr-10;
    }
  }

  &--portfolio {
    @apply w-full;

    &__title {
      @apply text-center mb-2;
    }
    &__subtitle {
      @apply text-center mb-6;
    }

    &__container {
      @apply flex flex-wrap flex-row gap-y-8 -mx-4;

      &--wrapper {
        @apply w-full md:w-1/2 lg:w-1/3 flex flex-row px-4;
      }
    }
  }
}

.about {
  @apply w-full;

  &--landing {
    @apply w-full flex flex-wrap flex-col-reverse lg:flex-row items-center justify-center lg:-mx-4;

    &__container {
      @apply w-full lg:w-1/2 lg:px-4;

      &--title {
        @apply font-bold text-2xl lg:text-4xl text-center lg:text-start;
      }
      &--subtitle {
        @apply font-normal text-base md:text-lg lg:text-xl text-justify lg:text-start mt-4;
      }

      &--img {
        @apply w-full object-cover mx-auto lg:mx-0;
      }
    }

    &__right {
      @apply 2xl:pl-10;
    }
  }
}

.portfolio {
  @apply w-full;

  &-detail {
    @apply w-full;

    &--model {
      @apply relative w-full flex flex-wrap flex-col md:flex-row justify-center;

      &__left {
        @apply w-full lg:w-9/12 h-full lg:pr-8;

        &--title {
          @apply text-center;
        }

        &--thumbnail {
          @apply border-[1px] border-primary-two my-8;
        }

        &--description {
          @apply text-justify;
        }

        &--flow {
          @apply text-center mt-10 mb-20;

          &__title {
            @apply mb-10;
          }
          &__img {
            @apply w-fit mx-auto;
          }
        }

        &--author {
          @apply w-full border-t-[1px] border-b-[1px] border-primary-three pt-6;

          &__creator {
            @apply text-center mb-4;
          }

          &__item {
            @apply w-full flex mb-6;

            &--img {
              @apply w-[100px] h-[100px] md:w-[150px] md:h-[150px] rounded-full object-cover;
            }
            &--information {
              @apply pl-4 md:pl-10;

              width: calc(100% - 100px);
            }
          }
        }
      }
      &__right {
        @apply w-full lg:w-3/12 h-fit lg:sticky lg:top-32 lg:pl-8 mt-10 lg:mt-0;

        &--others {
          @apply w-full;

          &__wrapper {
            @apply w-full;
          }
        }
      }
    }

    &--portfolio {
      @apply flex flex-wrap justify-center items-center -mx-5 mt-10;

      &__demo {
        @apply w-full md:w-1/2 2xl:w-5/12 px-5;
      }
    }
  }
}

.button-back {
  @apply w-full flex items-center mb-16;

  &--icon {
    @apply mr-2 rotate-180;
  }
  &--text {
    @apply font-semibold text-base text-primary-two;
  }
}
