.navbar {
  @apply w-full fixed top-0  bg-white z-[999];

  &-wrapper {
    @apply py-4 flex flex-wrap items-center;

    &--left {
      @apply w-1/2 lg:w-1/3 flex items-center gap-x-2;
    }
    &--right {
      @apply w-2/3 hidden lg:block;

      &__container {
        @apply w-full flex justify-end gap-x-7;
      }

      &-mobile {
        @apply w-1/2 lg:hidden flex justify-end;
      }
    }
  }

  &-logo {
    @apply w-[100px];
  }

  &--item {
    &__text {
      @apply font-normal text-base transition-all;
      &:hover {
        @apply text-primary-one;
      }
      &--active {
        @apply underline underline-offset-4 text-primary-one;
      }
    }
    &__icon {
      @apply w-5 h-5;
    }
  }

  &-burger {
    @apply w-full border-t-[1px] border-primary-two px-4 transition-all duration-300;
    &--item {
      @apply font-normal text-lg text-primary-two border-b-[1px] border-primary-two py-4 transition-all duration-300;

      &:hover {
        @apply font-bold pl-4;
      }
    }
  }
}

.burger {
  &-container {
    @apply w-[18px] h-6 relative focus:outline-none ml-7;

    &--wrapper {
      @apply block w-[18px] absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;

      &__span {
        @apply block absolute h-0.5 w-[18px] bg-primary-two transform transition duration-500 ease-in-out;
      }
    }
  }
}
